meta(charset='utf-8')
base(href='/')
title(ng-bind='title')
meta(name='google-site-verification', content='JSrOTlTuEONHt7HSnbRkVB73f810SxCCxXqjUeI2XT0')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='HandheldFriendly', content='true')
link(rel='apple-touch-icon', sizes='57x57', href='/assets/images/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/assets/images/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/assets/images/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/assets/images/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/assets/images/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/assets/images/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/assets/images/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/assets/images/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/assets/images/favicon/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='/assets/images/favicon/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='/assets/images/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/assets/images/favicon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='/assets/images/favicon/favicon-16x16.png')
link(rel='manifest', href='/assets/images/favicon/manifest.json')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/assets/images/favicon/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
// Google Fonts
link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Orbitron:900,700', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500', rel='stylesheet')
// MAIN STYLESHEETS
link(rel='stylesheet', href='/assets/css/bootstrap.css', type='text/css', media='all')
link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css")
link(rel='stylesheet', href='/assets/css/theme.css', type='text/css', media='all')
link(rel='stylesheet', href='/assets/css/responsive.css', type='text/css', media='all')
link(rel='stylesheet', href='/assets/css/justifiedGallery.min.css', type='text/css', media='all')
link(rel='stylesheet', href='/assets/photoswipe/photoswipe.css')
link(rel='stylesheet', href='/assets/photoswipe/default-skin/default-skin.css')
link(rel='stylesheet', href='/lib/sweetalert/dist/sweetalert.css', type='text/css', media='all')
link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
