.loading.text-center.vertical-middle
	.row
		img.loader(src='/assets/images/loader.gif', width='60', alt='Web Agency of Freelancers')
		|           
		img(src='/assets/images/logo/logo-white.png', width='160', alt='Hire hand picked freelancers') 
header.main-navigation(ng-class="newMenuStyle ? 'main_navigation_2' : ''")
	.container-fluid
		.col-md-2.logo_site
			a.logo.logo_top(href='/')
				img(src='/assets/images/logo/logo-white.png', alt='Hire freelancers like from an web agency!')     
		.col-md-10.main_content
			nav
				ul(role='menu')
					li
						a(href='/') HOME
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| ABOUT
							span.dropdown-icon
								svg(width='10', height='7')
									g 
									line(fill='none', stroke='#fdfdfd', x1='-4.54458', y1='-5.33302', x2='5.38279', y2='4.59435') 
									line(fill='none', stroke='#fdfdfd', x1='4.67324', y1='4.59752', x2='14.81695', y2='-5.54619')
						ul.dropdown-menu
							li
								a(href='/c/agency-of-freelancers') ABOUT CREWNEW
							li
								a(href='/c/skills') CREW &amp; SKILLS
							li
								a(href='/apply') FOR FREELANCERS
					li
						a(href='/contact') CONTACT ME
