script(src='/lib/angular/angular.js')
script(src='/lib/angular-route/angular-route.js')
script(src='/lib/angular-sanitize/angular-sanitize.js')
script(src='/lib/angular-animate/angular-animate.js')
script(src='/lib/sweetalert/dist/sweetalert.min.js')
script(src='/lib/ngSweetAlert/SweetAlert.js')
script(src='/app/app.js')
script(src='/app/services/nodesService.js')
script(src='/app/services/quotesService.js')
script(src='/app/controllers/mainCtrl.js')
script(src='/app/controllers/skillsCtrl.js')
script(src='/app/controllers/navCtrl.js')
script(src='/app/controllers/contactCtrl.js')
script(src='/app/controllers/profileCtrl.js')
script(src='/app/directives/tree.js')
script(src='/app/directives/compileTemplate.js')
script(src='/assets/js/packages.js')
script(src='/assets/js/theme.js')
script(src='/assets/js/contact.js')

// Start of Tawk.to Script
script(type='text/javascript').
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/565cd22050e84b536693f211/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
// End of Tawk.to Script
script.
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-74052590-1', 'auto');
    ga('send', 'pageview');

script(type='text/javascript', src='/assets/js/jquery.justifiedGallery.min.js')
script(type='text/javascript', src='/assets/photoswipe/photoswipe.min.js')
script(type='text/javascript', src='/assets/photoswipe/photoswipe-ui-default.min.js')
//script(type='text/javascript', src='/assets/js/libs/bootstrap.min.js')
script(type='text/javascript', src='/assets/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.js')
script(src='https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBNEfF_b66J0KCfQ3iT0GpVQizcZFVhd2s')
script(type='text/javascript', src='/assets/js/jquery.themepunch.tools.min.js')
script(type='text/javascript', src='/assets/js/jquery.themepunch.revolution.min.js')
//- script(type='text/javascript', src='/assets/js/slider-initialization.min.js')
script(type='text/javascript', src='/assets/js/revslider-extensions/revolution.extension.slideanims.min.js')
script(type='text/javascript', src='/assets/js/revslider-extensions/revolution.extension.layeranimation.min.js')
script(type='text/javascript', src='/assets/js/revslider-extensions/revolution.extension.navigation.min.js')
script(type='text/javascript', src='/assets/js/revslider-extensions/revolution.extension.video.min.js')

