.rev_slider_wrapper.header-introduction.text-center
  #rev_slider_2.rev_slider(data-version='5.0')
    ul.slider
      li(data-transition='slideoverup', data-bgparallax='10')
        .rs-background-video-layer(data-forcerewind='on', data-volume='mute', data-ytid='aLEV3El7GLU', data-videoattributes='mute=1&version=3&enablejsapi=1&html5=1&loop=1&playlist=aLEV3El7GLU&hd=1&wmode=opaque&showinfo=0& ref=0;', data-videowidth='100%', data-videoheight='100%', data-videocontrols='none', data-videoloop='loopandnoslidestop', data-forcecover='1', data-aspectratio='16:9', data-autoplay='true', data-nextslideatend='false')
        .tp-caption.caption-classic(data-x='center', data-y='center', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:50;opacity:0s:400;s:400;e:Power2.easeInOut;', data-transform_out='y:+350;opacity:0s:400;s:400;e:Power2.easeInOut;', data-start='500')
          span &nbsp;
          h2 THE&nbsp;NEW WAY TO HIRE
          img(src='/assets/images/section-decor-white.png', width='40', alt='Divider')
          p
            | The new way to hire the best hand picked professionals. Projects managed by professional project managers near you.
          a.btn.btn-white(href='/c/agency-of-freelancers') HOW IT WORKS
