doctype html
html(lang='en' ng-app="Crewnew")
	head
		include includes/head
	body
		div(ng-controller="NavCtrl")
			include includes/header
			div(ng-show="slider.visible")
				include includes/slider
		ng-view
		include includes/scripts