extends ../includes/layout

block content
    section.section.section-semi-white.text-center
        .container
            .col-md-12.text-center
                .section-head
                    h1 Thank you! Let's get in touch!
                    p(ng-if="!custom")
                        | You have requested to contact CrewNew team. Please, fill in bit more information about you and your needs so we can help you better. We can also contact you via phone/Skype/Slack if you prefer or meet locally near you.
                    p(ng-if="custom") {{ custom.intro }}
            .container
                .col-md-8.col-md-offset-2.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
                    form#contact_form.contact-form(name='contactForm', ng-submit='send(contactForm)', novalidate)
                        input.form-control(type='text', name='name', ng-model='contactInfo.name', placeholder='YOUR NAME')
                        input.form-control(type='number', name='phone', ng-model='contactInfo.phone', placeholder='PHONE NUMBER')
                        p.help-block(ng-show='contactForm.email.$invalid && !contactForm.email.$pristine && contactForm.email.$touched') Please enter a valid email address
                        input.form-control(type='email', name='email', ng-model='contactInfo.email', required, placeholder='EMAIL ADDRESS', ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }")
                        input.form-control(type='text', name='location', ng-model='contactInfo.location', placeholder='SHOOTING LOCATION(S)')
                        textarea.form-control(placeholder='AS MUCH DETAILS ABOUT THE WORK AS POSSIBLE. JUST TO MAKE YOU THE MOST ADEQUATE OFFER!', name='message', ng-model='contactInfo.message')
                        button.contact-form-submit(type='submit', ng-disabled="contactForm.$invalid")
                            | SEND
                            i.fa.fa-spinner.fa-pull-right.fa-spin.fa-fw(ng-show='email.loading')
                        #messages.col-md-12
    section.section-36.section-white.text-center.margin-top.margin-bottom
        .col-md-4.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
            .icon-block
                i.icon-basic-flag1
                h4 LOCATION
                p(ng-hide="profile") UK, Europe, World
                p(ng-show="profile") {{ profile.town + ', ' + profile.country }}
        .col-md-4.margin-top.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.1s")
            a(ng-click="openTalk()")
                .icon-block
                    i.icon-basic-smartphone
                    h4 CHAT
                    p -- let's chat --
        .col-md-4.margin-top.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
            .icon-block
                i.icon-basic-keyboard
                h4 EMAIL
                p {{ profile ? profile.email : 'info@crewnew.com' }}
        .container-fluid
            .col-md-12.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
                #map.google-map(style='height: 500px')