extends ../includes/layout

block content
    section.section.section-semi-white
        .col-md-12.text-center.section-head.padding-bottom
            small WE ALL ARE
            h3 HAND PICKED &amp; WELL MANAGED
            p
                | All of us have passed face-to-face interviews, and our developers have also passed several relevant skill tests. For each developer we have, in the database, a full list of skills that they possess, with a 10 point scale rating for specific skills, which is also combined from the most recent skill test and most recent reviews for that specific skill. 
                | Eg. A developer can be 10 star rated in Python Django but for example 7 star in JavaScript and only 4 star in HTML. Also, all projects are managed by professional project managers and only these freelancers are invited for you to interview who have exactly the skill set that you need!
                | Finally, if something goes wrong because of us then you'll get full refund!
        .row-fluid
            ul.instagram-widget
                li.col-md-3.col-sm-6.col-xs-6
                    .row
                        a(href='#!')
                            img(src='/assets/images/widget-image-1.jpg', alt='Widget Image')
                li.col-md-3.col-sm-6.col-xs-6
                    .row
                        a(href='#!')
                            img(src='/assets/images/widget-image-2.jpg', alt='Widget Image')
                li.col-md-3.col-sm-6.col-xs-6
                    .row
                        a(href='#!')
                            img(src='/assets/images/widget-image-3.jpg', alt='Widget Image')
                li.col-md-3.col-sm-6.col-xs-6
                    .row
                        a(href='#!')
                            img(src='/assets/images/widget-image-4.jpg', alt='Widget Image')
        .container
            // todo read more <div class="col-md-12 padding-top text-center"><a class="btn btn-link">FOLLOW US </a></div>
    section.section.section-black.background-image.background-image-center(style='background-image: url(/assets/images/banner-2.jpg)')
        .container.banner
            .col-md-12.text-center
                span.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s') CREWNEW
                h2.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s') THE NEW WAY E-AGENCY
                img(src='/assets/images/section-decor-white.png', width='40', alt='Divider')
                p.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                    | We&apos;re the biggest e-agency that really works like a real e-agency not like a yet another freelancer site. You have a local project manager,
                    | huge database of personally tested programmers, designers, marketers, photographers, video operators etc. And you&apos;ve got best tools: time tracking with automatic screenshots, agile project managment, ticketing, progress tracking,
                    | billing, (voice / video / text) group chating, etc.
                a.btn.btn-white.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s', href="/c/agency-of-freelancers") READ MORE

block footer
    include ../includes/footer-default