extends ../includes/layout

block content
    section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/kaspar/kaspar-head.jpg)')
        .container.vertical-middle
            .row.section-head.section-head-white
                h2(style="font-family: 'Orbitron', sans-serif; font-weight: 400; opacity:0.5;") KASPAR
                ul.breadcrumb
                    li
                        a(style='opacity:0.5;', ng-click='more()') IT PROJECT MANAGER
                    li
                        a(style='opacity:0.5;', ng-click='more()') STRATEGIST
                    li
                        a(style='opacity:0.5;', ng-click='more()') MARKETER
    section.section.section-white
        .container-fluid
            .col-md-10.col-md-offset-1.text-center
                .portfolio-single-introduction
                    span.os-animation PROJECT MANAGER, SOFTWARE PLANNING, (INTERNET) MARKETING STRATEGIST
                    h3.os-animation
                        | THE BUSINESS DEVELOPER
                    img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
                    p.os-animation
                        | I'm a BA IT graduate that's best at UX/software planning, software architecture and developing software in various programming languages/frameworks/platforms, including Python, PHP, Node.js, Ruby and more. I'm worked with various frameworks like Django, Flask, Rails, CodeIgnitor, Yii, Zend etc. I have experience also with most of the popular open source solutions like Django CMS, KeystoneJS, MODx, Magento, Wordpress, OpenCart, Prestashop, vTiger, Odoo, Rhadoop/Hadoop and the list goes on. I always keep my eyes open for the most promising new technologies such as MEAN Stack, Kivy, Meteor and many various others that facilitate building multi-platform applications. I'm a very adept project manager that can always come up with a short/smart and simple solution that works. I've completed a teaching course at university that has given me plenty of experience teaching in front of a classroom, performing remote one-on-one training and creating easy to follow manuals.
                    p.os-animation
                        | My general skills are in business development. I started my first business when I was 13 and my first IT company when I was 17. Right now I'm a shareholder of four different companies and am currently working on establishing a promising new start-up that will utilise IT management to make freelancers (like us) much more productive.
                    p.os-animation
                        iframe(src='https://calendar.google.com/calendar/embed?showTitle=0&showPrint=0&showCalendars=0&mode=WEEK&height=600&wkst=2&bgcolor=%23FFFFFF&src=e-stonia.co.uk_352dcgrmdr940j7q99kk332qrg%40group.calendar.google.com&color=%23711616&ctz=Europe%2FLondon', style='border-width:0', width='600', height='520', frameborder='0', scrolling='no')

block footer
    include ../includes/footer-hire
