extends ../includes/layout

block content
    section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/marja/marja-head.jpg)')
        .container.vertical-middle
            .row.section-head.section-head-white
                h2(style="font-family: 'Orbitron', sans-serif; font-weight: 400; opacity:0.5;") MARJA
                ul.breadcrumb
                    li
                        a(style='opacity:0.5;', ng-click='more()') ACADEMIC WRITING & RESEARCH
                    li
                        a(style='opacity:0.5;', ng-click='more()') EDITING / PROOFREADING

    section.section.section-white
        .container-fluid
            .col-md-10.col-md-offset-1
                ul.masonry-wrap
                    li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-1
                            a(href='#')
                                img(src='../../images/marja/_front/academic-writing.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 RESEARCH
                                        p ACADEMIC WRITING
                    li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-4
                            a(href='#')
                                img(src='../../images/marja/_front/proofreading.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 PROOFREADING
                                        p TEXT EDITING
                    li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-2
                            a(href='#')
                                img(src='../../images/marja/_front/seo-writing.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 WEB CONTENT
                                        p SEO WRITING
                    li.col-lg-12.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-1
                            a(href='#')
                                img(src='../../images/marja/_front/grant-writing.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 GRANT WRITING
                                        p CULTURAL EVENTS
                    li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-2
                            a(href='#')
                                img(src='../../images/marja/_front/translations.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 TRANSLATIONS
                                        p
                                            | ENGLISH / GERMAN / SPANISH <-> ESTONIAN
                    li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-4
                            a(href='#')
                                img(src='../../images/marja/_front/estonian-literature.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 LITERATURE
                                        p ESTONIAN LITERATURE LECTURES
                    li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
                        .masonry-item.background-color-3
                            a(href='#')
                                img(src='../../images/marja/_front/corporate-letters.jpg', alt='Portfolio Image')
                                .masonry-item-overlay
                                    .masonry-item-overlay-inner
                                        h2 CORPORATE
                                        p BUSINESS LETTERS / EMAILS


block footer
    include ../includes/footer-hire
