extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../images/martin/nude/nude-head.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 NUDE
				ul.breadcrumb
					li NO CLOTHES
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation NAKED PHOTOGRAPHER
					h3.os-animation
						| GALLERY "NAKED ART"
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| Feel free to have a nude photo shoot - either indoors or in public. The lighting assistance will be done by an always cheerful lady.
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/nude/nude1_m.jpg', data-size='1464x2200')
								img(src='../../images/martin/nude/nude1_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude2_m.jpg', data-size='900x334')
								img(src='../../images/martin/nude/nude2_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude3_m.jpg', data-size='430x654')
								img(src='../../images/martin/nude/nude3_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude4_m.jpg', data-size='435x654')
								img(src='../../images/martin/nude/nude4_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude5_m.jpg', data-size='474x654')
								img(src='../../images/martin/nude/nude5_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude6_m.jpg', data-size='435x654')
								img(src='../../images/martin/nude/nude6_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude7_m.jpg', data-size='435x654')
								img(src='../../images/martin/nude/nude7_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude8_m.jpg', data-size='532x800')
								img(src='../../images/martin/nude/nude8_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude9_m.jpg', data-size='600x902')
								img(src='../../images/martin/nude/nude9_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude10_m.jpg', data-size='464x700')
								img(src='../../images/martin/nude/nude10_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude11_m.jpg', data-size='777x524')
								img(src='../../images/martin/nude/nude11_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude12_m.jpg', data-size='432x669')
								img(src='../../images/martin/nude/nude12_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude13_m.jpg', data-size='503x600')
								img(src='../../images/martin/nude/nude13_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude14_m.jpg', data-size='382x555')
								img(src='../../images/martin/nude/nude14_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude15_m.jpg', data-size='398x599')
								img(src='../../images/martin/nude/nude15_m.jpg', alt='Naked art photos')
						.shadowed-entry
							a(href='../../images/martin/nude/nude16_m.jpg', data-size='400x600')
								img(src='../../images/martin/nude/nude16_m.jpg', alt='Naked art photos')
	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire