extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/martin/business/business-head.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 BUSINESS
				ul.breadcrumb
					li CORPORATE PHOTOGRAPHY
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation PROFESSIONAL PHOTOGRAPHER
					h3.os-animation
						| GALLERY "BUSINESS"
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| Whatever your product is, it needs to be presented in the most catching way. The studio flashes and a semi-transparent product table are lying in wait for a photo shoot to show the brightest side of your brand, produces and creations.
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/business/business1_m.jpg', data-size='724x434')
								img(src='../../images/martin/business/business1_m.jpg', alt='Business photography')
						.shadowed-entry
							a(href='../../images/martin/business/business2_m.jpg', data-size='1200x1200')
								img(src='../../images/martin/business/business2_m.jpg', alt='Business photography')
						.shadowed-entry
							a(href='../../images/martin/business/business3_m.jpg', data-size='1200x1200')
								img(src='../../images/martin/business/business3_m.jpg', alt='Business photography')
						.shadowed-entry
							a(href='../../images/martin/business/business4_m.jpg', data-size='1200x1200')
								img(src='../../images/martin/business/business4_m.jpg', alt='Business photography')
	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire