extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/martin/interior/interior-head.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 INTERIOR
				ul.breadcrumb
					li WEBSITE PHOTOGRAPHY
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation INTERIOR DESIGN PHOTOGRAPHER
					h3.os-animation
						| GALLERY "INTERIOR"
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| I'm an experienced interior photographer having worked for interior design magazines forever and a day. Moreover, I have lot of customers among real estate companies.
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/interior/interior1_m.jpg', data-size='378x567')
								img(src='../../images/martin/interior/interior1_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior2_m.jpg', data-size='800x532')
								img(src='../../images/martin/interior/interior2_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior3_m.jpg', data-size='400x600')
								img(src='../../images/martin/interior/interior3_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior4_m.jpg', data-size='406x600')
								img(src='../../images/martin/interior/interior4_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior5_m.jpg', data-size='640x383')
								img(src='../../images/martin/interior/interior5_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior6_m.jpg', data-size='400x600')
								img(src='../../images/martin/interior/interior6_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior7_m.jpg', data-size='400x600')
								img(src='../../images/martin/interior/interior7_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior8_m.jpg', data-size='800x472')
								img(src='../../images/martin/interior/interior8_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior9_m.jpg', data-size='388x600')
								img(src='../../images/martin/interior/interior9_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior10_m.jpg', data-size='800x454')
								img(src='../../images/martin/interior/interior10_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior11_m.jpg', data-size='393x600')
								img(src='../../images/martin/interior/interior11_m.jpg', alt='Interior photography')
						.shadowed-entry
							a(href='../../images/martin/interior/interior12_m.jpg', data-size='400x600')
								img(src='../../images/martin/interior/interior12_m.jpg', alt='Interior photography')
	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire