extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/martin/architecture/architecture-header.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 ARCHITECTURE
				ul.breadcrumb
					li REAL ESTATE & ARCHITECTURE
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation ARCHITECTURE PHOTOGRAPHER
					h3.os-animation
						| GALLERY "BUILDINGS"
					img.os-animation(src='http://crewnew.com/assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| Do you need professional photographs of your property? Well, real estate is my very passion when it comes to photography!
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture1_m.jpg', data-size='2048x3072')
								img(src='../../images/martin/architecture/architecture1_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture2_m.jpg', data-size='400x600')
								img(src='../../images/martin/architecture/architecture2_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture3_m.jpg', data-size='2048x3072')
								img(src='../../images/martin/architecture/architecture3_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture4_m.jpg', data-size='3072x2048')
								img(src='../../images/martin/architecture/architecture4_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture5_m.jpg', data-size='640x383')
								img(src='../../images/martin/architecture/architecture5_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture6_m.jpg', data-size='2048x3072')
								img(src='../../images/martin/architecture/architecture6_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture7_m.jpg', data-size='435x654')
								img(src='../../images/martin/architecture/architecture7_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture8_m.jpg', data-size='247x654')
								img(src='../../images/martin/architecture/architecture8_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture9_m.jpg', data-size='435x654')
								img(src='../../images/martin/architecture/architecture9_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture10_m.jpg', data-size='532x800')
								img(src='../../images/martin/architecture/architecture10_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture11_m.jpg', data-size='532x800')
								img(src='../../images/martin/architecture/architecture11_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture12_m.jpg', data-size='777x517')
								img(src='../../images/martin/architecture/architecture12_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture13_m.jpg', data-size='600x900')
								img(src='../../images/martin/architecture/architecture13_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture14_m.jpg', data-size='399x600')
								img(src='../../images/martin/architecture/architecture14_m.jpg', alt='Architecture photography')
						.shadowed-entry
							a(href='../../images/martin/architecture/architecture15_m.jpg', data-size='600x791')
								img(src='../../images/martin/architecture/architecture15_m.jpg', alt='Architecture photography')
	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire