extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/martin/event/event-head.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 SOUND CHECK
				ul.breadcrumb
					li EVENT PHOTOGRAPHY
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation EVENTS PHOTOGRAPHER
					h3.os-animation
						| GALLERY "SOUND CHECK"
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| Do you need highly professional photos of your event? Or maybe you are a musician and need promotional materials? Being a retired jazz flutist, this is the very field where I have got a lot of experience and a creative eye.
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/event/event1_m.jpg', data-size='1000x665')
								img(src='../../images/martin/event/event1_m.jpg', alt='Event photography')
						.shadowed-entry
							a(href='../../images/martin/event/event2_m.jpg', data-size='1000x667')
								img(src='../../images/martin/event/event2_m.jpg', alt='Event photography')
						.shadowed-entry
							a(href='../../images/martin/event/event3_m.jpg', data-size='1000x665')
								img(src='../../images/martin/event/event3_m.jpg', alt='Event photography')
						.shadowed-entry
							a(href='../../images/martin/event/event4_m.jpg', data-size='1000x667')
								img(src='../../images/martin/event/event4_m.jpg', alt='Event photography')
						.shadowed-entry
							a(href='../../images/martin/event/event5_m.jpg', data-size='1000x665')
								img(src='../../images/martin/event/event5_m.jpg', alt='Event photography')
						.shadowed-entry
							a(href='../../images/martin/event/event6_m.jpg', data-size='1000x665')
								img(src='../../images/martin/event/event6_m.jpg', alt='Event photography')
						.shadowed-entry
							a(href='../../images/martin/event/event7_m.jpg', data-size='665x1000')
								img(src='../../images/martin/event/event7_m.jpg', alt='Event photography')
	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire