extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/martin/martin-head.jpg)')
		.container.vertical-middle
			.row.section-head.section-head-white
				h2(style="font-family: 'Orbitron', sans-serif !important; font-weight: 400; opacity:0.5;") MARTIN
				ul.breadcrumb
					li
						a(ng-click="more()") PHOTOGRAPHER
					li
						a(ng-click="more()") VIDEO PRODUCER
					li
						a(ng-click="more()") MORE>>
	section.section.section-white
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation PHOTOGRAPHER, VIDEO PRODUCER, CAMERA OPERATOR
					h3.os-animation
						| THE CAMERA MAN
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| I've been working in the field of photography and videography since I started studing literature in University of Tartu in 1998. Since then I have been working years for German and Estonian TV channels and multiple photo/video production companies. Since 2014 I provide professional services in Gran Canaria and most of my customers are near Maspalomas area.
				.col-md-10.col-md-offset-1
					ul.masonry-wrap
						li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-1
								a(href='/martin/portrait')
									img(src='../../images/martin/_front/portrait-photography.jpg', alt='Personal portrait service')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 PORTRAIT
											p PERSONAL PHOTOGRAPHY
						li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-4
								a(href='/martin/architecture')
									img(src='../../images/martin/_front/real-estate-photography.jpg', alt='Property photography')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 ARCHITECTURE
											p MAGAZINE PHOTOGRAPHY
						li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-2
								a(href='/martin/pianos')
									img(src='../../images/martin/_front/art-photography.jpg', alt='Culture photography')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 PIANOS
											p ART PHOTOGRAPHY
						li.col-lg-12.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-1
								a(href='/martin/nude')
									img(src='../../images/martin/_front/naked.jpg', alt='Gran Canaria photohrapher')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 NUDE GIRLS
											p PERSONAL PHOTOGRAPHY
						li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-2
								a(href='/martin/interior')
									img(src='../../images/martin/_front/interior.jpg', alt='Interior design photographer')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 INTERIOR DESIGN
											p WEBSITE PHOTOGRAPHY
						li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-4
								a(href='/martin/event')
									img(src='../../images/martin/_front/event-photo-service.jpg', alt='Event photographer')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 MUSICIANS
											p EVENT PHOTOGRAPHY
						li.col-lg-6.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
							.masonry-item.background-color-3
								a(href='/martin/business')
									img(src='../../images/martin/_front/corporate-photography.jpg', alt='Product photographer')
									.masonry-item-overlay
										.masonry-item-overlay-inner
											h2 THE BUSINESS
											p CORPORATE PHOTOGRAPHY

block footer
	include ../includes/footer-hire
