extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../images/martin/pianos/pianos-head.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 PIANOS
				ul.breadcrumb
					li ART PHOTOGRAPHY
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation FINE ART PHOTOGRAPHER
					h3.os-animation
						| GALLERY "PIANOS"
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| Do you need to decorate your home or business? Photography is a great solution to create original interior. Pianos is just one example to be printed on canvas, glass or any material to boost your interior design. 
						| Contact me and let's brainstorm what your walls are lacking decor-wise!
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos1_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos1_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos2_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos2_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos3_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos3_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos4_m.jpg', data-size='400x600')
								img(src='../../images/martin/pianos/pianos4_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos5_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos5_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos6_m.jpg', data-size='800x443')
								img(src='../../images/martin/pianos/pianos6_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos7_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos7_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos8_m.jpg', data-size='400x600')
								img(src='../../images/martin/pianos/pianos8_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos9_m.jpg', data-size='800x474')
								img(src='../../images/martin/pianos/pianos9_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos10_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos10_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos11_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos11_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos12_m.jpg', data-size='400x600')
								img(src='../../images/martin/pianos/pianos12_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos13_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos13_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos14_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos14_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos15_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos15_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos16_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos16_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos17_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos17_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos18_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos18_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos19_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos19_m.jpg', alt='Art photography')
						.shadowed-entry
							a(href='../../images/martin/pianos/pianos20_m.jpg', data-size='800x533')
								img(src='../../images/martin/pianos/pianos20_m.jpg', alt='Art photography')

	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire