extends ../includes/layout

block content
	section.header-introduction-small.text-center.background-image(style='background-image: url(../../images/martin/portrait/portrait-head.jpg)')
		.container.vertical-middle.text-center
			.row.section-head.section-head-white
				h2 PORTRAIT
				ul.breadcrumb
					li PERSONAL PHOTOGRAPHY
	section.section
		.container-fluid
			.col-md-10.col-md-offset-1.text-center
				.portfolio-single-introduction
					span.os-animation PORTRAIT PHOTOGRAPHER
					h3.os-animation
						| GALLERY "PEOPLE"
					img.os-animation(src='../../assets/images/section-decor-black.png', width='40', alt='Divider')
					p.os-animation
						| Do you fancy professional photographs of yourself, your loved ones or the whole family?
				.col-md-12.margin-top.os-animation(data-os-animation='fadeIn', data-os-animation-delay='0s')
					#myGallery
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait1_m.jpg', data-size='2048x3072', data-title='Title Goes Here', data-desc='Description...')
								img(src='../../images/martin/portrait/portrait1_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait2_m.jpg', data-size='720x480')
								img(src='../../images/martin/portrait/portrait2_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait3_m.jpg', data-size='2048x3072')
								img(src='../../images/martin/portrait/portrait3_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait4_m.jpg', data-size='3072x2048')
								img(src='../../images/martin/portrait/portrait4_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait5_m.jpg', data-size='640x383')
								img(src='../../images/martin/portrait/portrait5_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait6_m.jpg', data-size='2048x3072')
								img(src='../../images/martin/portrait/portrait6_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait7_m.jpg', data-size='435x654')
								img(src='../../images/martin/portrait/portrait7_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait8_m.jpg', data-size='247x654')
								img(src='../../images/martin/portrait/portrait8_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait9_m.jpg', data-size='435x654')
								img(src='../../images/martin/portrait/portrait9_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait10_m.jpg', data-size='532x800')
								img(src='../../images/martin/portrait/portrait10_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait11_m.jpg', data-size='532x800')
								img(src='../../images/martin/portrait/portrait11_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait12_m.jpg', data-size='777x517')
								img(src='../../images/martin/portrait/portrait12_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait13_m.jpg', data-size='600x900')
								img(src='../../images/martin/portrait/portrait13_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait14_m.jpg', data-size='399x600')
								img(src='../../images/martin/portrait/portrait14_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait15_m.jpg', data-size='600x791')
								img(src='../../images/martin/portrait/portrait15_m.jpg', alt='Portrait photography')
						.shadowed-entry
							a(href='../../images/martin/portrait/portrait16_m.jpg', data-size='1000x665')
								img(src='../../images/martin/portrait/portrait16_m.jpg', alt='Portrait photography')
	include ../includes/photo-swipe

block footer
	include ../includes/footer-hire