extends ../includes/layout

block content
    section.header-introduction-small.text-center.background-image.bg_dot.header-introduction-small-tree(style='background-image: url(assets/images/banner-A.jpg)')
    section.section.section-white.section_tree
        div(ng-if="loader").text-center
            i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
        div(ng-if="!loader")
            .container
                .col-md-5.tree_sec_left
                    .panel.panel-default
                        .panel-heading
                            img(src='assets/images/windows-icon.png', alt='img')
                        .panel-body
                            tree(ng-if="nodes" nodes="nodes" category="category" activeNode="activeNode.code")#tree
                    .widget
                        h4 {{ quote.title }}
                        p
                            img.quotation_mark_left(src='assets/images/quotation-mark-icon-left.png', alt='img')
                            | {{ quote.content }}
                            img.quotation_mark_right(src='assets/images/quotation-mark-icon-right.png', alt='img')
                .contents
                    #downContent.col-md-7.tree_sec_right.text-center
                    #content.col-md-7.tree_sec_right.text-center
                        h2(ng-show="activeNode.longtitle") {{activeNode.longtitle}}
                        h2(ng-hide="activeNode.longtitle", ng-if="!loader")  {{activeNode.pagetitle || 'Please choose something from left menu.'}}
                        .virtually_content
                            p(ng-bind-html="activeNode.content" compile-template)
                        div(ng-if="activeNode")
                            a(href='http://{{activeNode.menutitle}}', target='_blank').node-website {{activeNode.menutitle}}
                            .site_home_icon
                                ul
                                    li(ng-if='activeNode.jobs != 0')
                                        .icon_area
                                            img(src='assets/images/jobs-since.png', alt='img')
                                        p
                                            span Jobs since 2016:
                                            | &nbsp;{{activeNode.jobs}}
                                    li(ng-if="activeNode.providers != 0")
                                        .icon_area
                                            img(src='assets/images/providers.png', alt='img')
                                        p.ng-binding.ng-scope(ng-if='activeNode.providers != 0')
                                            span Available providers:
                                            | &nbsp;{{activeNode.providers == 500 ? '500+' : activeNode.providers}}