a {
    cursor: pointer;
}

body {
    position: relative;
}

footer {
    padding-top: 0;
}

.margin-top-80 {
    margin-top: 80px;
}

.center {
    margin: 0 auto;
    display: block;
}

.fa {
    padding: 0 !important;
}

.fa-pull-left{
    margin-top: .3em;
}

form button[type='submit'] .fa-pull-right {
    font-size: 16px !important;
}

ul.slider {
    width: 100% !important;
}

.node-website {
    font-size: 17px;
}

#contact_form button[type="submit"] {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

#contact_form button[disabled="disabled"][type="submit"] {
    pointer-events: none;
    opacity: .4;
}

#contact_form .has-error, #contact_form .has-error:focus {
    border: 1px solid #b74242 !important;
}

#contact_form p.help-block {
    color: #b74242;
}

.shadowed-entry {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.contents {
    position: relative;
}

#downContent {
    position: absolute;
    right: 0;
}

#content {
    z-index: 10;
    background: #fff;
}