.col-md-12.text-center.os-animation.margin-top-80(data-os-animation='fadeInUp', data-os-animation-delay='0s')
        .section-head
            h4 LET'S GET IN TOUCH
            p
                | Please, enter your email address and we'll take you through quick <30 second questionaire so the right person will guide you further.
    .col-md-12.margin-top.margin-bottom.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
        form.newsletter-form.text-center
            input.form-control(name='email', ng-model="email", placeholder='YOUR EMAIL ADDRESS...')
            button(ng-click="redirectToContact(email)") NEXT
            .col-md-12.text-center.margin-top
                small You have our word, no spam. Ever.
    hr