.col-md-12.text-center.os-animation.margin-top-80(data-os-animation="fadeInUp", data-os-animation-delay="0s", class="col-md-12 text-center os-animation")
		.section-head
			h4 HIRE/CONTACT ME NOW
			p Enter your email address to get started.
		.col-md-12.margin-top.margin-bottom.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
			form.newsletter-form.text-center
				input.form-control(name='email', ng-model="email", placeholder='YOUR EMAIL ADDRESS...')
				button(ng-click="redirectToContact(email)") NEXT
				.col-md-12.text-center.margin-top
					small You can also contact via Skype/phone on next page.
		.col-md-12.margin-top
			hr