footer(ng-controller="MainCtrl")
    .container
        block footer
        .col-md-12.margin-top
            .col-md-6.text-left.small-screen-text-center
                .footer-message
                    p {{date | date: 'yyyy'}} &copy; CREWNEW - The New Way to Hire
            .col-md-6.text-right.small-screen-text-center
                ul.social-icons
                    li
                        a(href='/c/agency-of-freelancers') ABOUT CREWNEW
                    li
                        a(href='/c/skills') CREW &amp; SKILLS
                    li
                        a(href='/contact') CONTACT