// Root element of photo swiping. Must have class pswp.
.pswp(tabindex='-1', role='dialog', aria-hidden='true')
	//
		Background of photo swiping.
		It's a separate element as animating opacity is faster than rgba().
	.pswp__bg
	// Slides wrapper with overflow:hidden.
	.pswp__scroll-wrap
		//
			Container that holds slides.
			photo swiping keeps only 3 of them in the DOM to save memory.
		.pswp__container
			.pswp__item
			.pswp__item
			.pswp__item
		// Default (photo swiping) interface on top of sliding area. Can be changed.
		.pswp__ui.pswp__ui--hidden
			.pswp__top-bar
				// Controls are self-explanatory. Order can be changed.
				.pswp__counter
				button.pswp__button.pswp__button--close(title='Close (Esc)')
				button.pswp__button.pswp__button--share(title='Share')
				button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
				button.pswp__button.pswp__button--zoom(title='Zoom in/out')
				// element will get class pswp__preloader--active when preloader is running
				.pswp__preloader
					.pswp__preloader__icn
						.pswp__preloader__cut
							.pswp__preloader__donut
			.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
				.pswp__share-tooltip
			button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
			button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
			.pswp__caption
				.pswp__caption__center