@media (min-width: 320px) and (max-width:479px) {
.vertical-middle > *, .vertical-bottom > * { display: inline; }
.logo_site { padding: 0; width: 100%; }
.logo_top img { max-width: 190px; }
#navicon { display: none; }
.mobile-navigation ul li { margin-top: 19px; }
.navbar-nav { display: inline; margin: 0px; }
.main-navigation .container-fluid { padding: 0; }
.navbar-collapse.collapse.in { padding: 0; }
.navbar-inverse .navbar-nav > li > a { color: #fff; font-size: 17px; }
.main_navigation_2::after { background: rgba(0, 0, 0, 0.8); content: ""; }
.nav > li { padding: 0; text-align: center; }
nav ul li:last-child { padding-right: 0; }
.navbar-collapse { padding-left: 0; padding-right: 0; }
.navbar-header { margin-bottom: 40px; }
.navbar-inverse { background-color: transparent; border-color: transparent; margin-bottom: 0px; }
.navbar-header { margin-bottom: 11px; }
.navbar-inverse .navbar-toggle { background: #000 none repeat scroll 0 0; border: medium none; margin-top: 30px; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #000; }
.navbar.navbar-inverse.navbar-static-top { display: inline; }
.logo_site { display: none; }
.section.section-white { margin: -100px 15px 50px; }
.section.section-white .panel-body { padding: 17px 0 0; }
.tree_sec_left { padding: 0; }
.treeview li a { font-size: 14px; }
.tree_sec_right h2 { clear: both; font-size: 20px; }
.header-introduction-small-tree .section-head h2 { font-size: 32px; margin: 77px 0 0; }
footer hr { float: left; }
form.newsletter-form input { border: 1px solid #ccc !important; margin-bottom: 9px; max-width: 100%; text-align: center; }
.text-left.small-screen-text-center { float: left; width: 100%; }
.text-right.small-screen-text-center { float: left; width: 100%; }
.newsletter-form.text-center > button { float: none; margin: 0 auto; width: 120px; }
.margin-top { margin-top: 0 !important; }
.margin-bottom { margin-bottom: 0 !important; }
form.newsletter-form { margin-bottom: 7px; }
.footer-message { margin-bottom: 0; margin-top: 0; }
footer { padding: 36px 0 14px; }
.video_img > h4 {
  font-size: 21px;
  margin: 12px 0 0;
}
.video_img p {
  font-size: 13px;
  margin: 13px auto 25px;
  width: 250px;
}
.text-center {
  clear: both;
  padding: 0;
}
.video_img { text-align: center; }
.site_home_icon li { width: 84%; }
.technology_text { padding: 11px 12px; }
.tree_sec_right h2 { font-size: 14px; line-height: normal; }
.virtually_content ul li p { width: 87%; }
.tree_sec_right.myDynamicContentSectino.text-center > h2 {
  font-size: 20px;
}

.tree_sec_right.myDynamicContentSectino.text-center img {
  clear: both;
  float: none;
  margin: 0 auto 11px;
  width: 88%;
}
.icon_area > img {
  clear: none !important;
  margin: 0 !important;
  width: auto !important;
}
.site_home_icon {
  float: none;
  margin: 0 auto;
  width: 253px;
}

}
@media (min-width: 480px) and (max-width:639px) {
.vertical-middle > *, .vertical-bottom > * { display: inline; }
.logo_site { padding: 0; width: 100%; }
.logo_top img { max-width: 190px; }
#navicon { display: none; }
.mobile-navigation ul li { margin-top: 19px; }
.navbar-nav { display: inline; margin: 0px; }
.main-navigation .container-fluid { padding: 0; }
.navbar-collapse.collapse.in { padding: 0; }
.navbar-inverse .navbar-nav > li > a { color: #fff; font-size: 17px; }
.main_navigation_2::after { background: rgba(0, 0, 0, 0.8); content: ""; }
.nav > li { padding: 0; text-align: center; }
nav ul li:last-child { padding-right: 0; }
.navbar-collapse { padding-left: 0; padding-right: 0; }
.navbar-header { margin-bottom: 40px; }
.navbar-inverse { background-color: transparent; border-color: transparent; margin-bottom: 0px; }
.navbar-header { margin-bottom: 11px; }
.navbar-inverse .navbar-toggle { background: #000 none repeat scroll 0 0; border: medium none; margin-top: 30px; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #000; }
.navbar.navbar-inverse.navbar-static-top { display: inline; }
.logo_site { display: none; }
.section.section-white { margin: -100px 15px 50px; }
.section.section-white .panel-body { padding: 17px 0 0; }
.tree_sec_left { padding: 0; }
.treeview li a { font-size: 18px; }
.tree_sec_right h2 { clear: both; font-size: 20px; }
.header-introduction-small-tree .section-head h2 { font-size: 32px; margin: 77px 0 0; }
footer hr { float: left; }
form.newsletter-form input { border: 1px solid #ccc !important; margin-bottom: 9px; max-width: 100%; text-align: center; }
.text-left.small-screen-text-center { float: left; width: 100%; }
.text-right.small-screen-text-center { float: left; width: 100%; }
.newsletter-form.text-center > button { float: none; margin: 0 auto; width: 120px; }
.margin-top { margin-top: 0 !important; }
.margin-bottom { margin-bottom: 0 !important; }
form.newsletter-form { margin-bottom: 7px; }
.footer-message { margin-bottom: 0; margin-top: 0; }
footer { padding: 36px 0 14px; }
.video_img > h4 { font-size: 27px; margin: 12px 0 0;}
.video_img p {
  font-size: 12px;
  margin: 13px auto 25px;
  width: 420px;
}
.text-center { padding: 0; }
.video_img { text-align: center; }
.site_home_icon li { width: 58%; }
.technology_text { padding: 11px 12px; }
.tree_sec_right h2 { font-size: 17px; line-height: normal; }
.virtually_content ul li p { width: 87%; }
.tree_sec_right.myDynamicContentSectino.text-center > h2 {
  font-size: 21px;
}


}
 @media (min-width: 640px) and (max-width:767px) {
.vertical-middle > *, .vertical-bottom > * { display: inline; }
.logo_site { padding: 0; width: 100%; }
.logo_top img { max-width: 190px; }
#navicon { display: none; }
.mobile-navigation ul li { margin-top: 19px; }
.navbar-nav { display: inline; margin: 0px; }
.main-navigation .container-fluid { padding: 0; }
.navbar-collapse.collapse.in { padding: 0; }
.navbar-inverse .navbar-nav > li > a { color: #fff; font-size: 17px; }
.main_navigation_2::after { background: rgba(0, 0, 0, 0.8); content: ""; }
.nav > li { padding: 0; text-align: center; }
nav ul li:last-child { padding-right: 0; }
.navbar-collapse { padding-left: 0; padding-right: 0; }
.navbar-header { margin-bottom: 40px; }
.navbar-inverse { background-color: transparent; border-color: transparent; margin-bottom: 0px; }
.navbar-header { margin-bottom: 11px; }
.navbar-inverse .navbar-toggle { background: #000 none repeat scroll 0 0; border: medium none; margin-top: 30px; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #000; }
.navbar.navbar-inverse.navbar-static-top { display: inline; }
.logo_site { display: none; }

.section.section-white {
  margin: -270px 39px 50px;
}
.site_home_icon li {
  width: 50%;
}
.site_home_icon {
  float: none;
  margin: 11px auto 0;
  width: 88%;
}
.virtually_content ul li p {
  width: 88%;
}
footer hr {
  float: left;
}

.text-left.small-screen-text-center {
  float: left;
  width: 100%;
}
footer {
  padding: 46px 0 14px;
}
.tree_sec_right h2 {
  clear: both;
}
.text-center {
  clear: both;
}

.video_img {
  text-align: center;
}

form.newsletter-form {
  margin-bottom: 0;
}
form.newsletter-form input {
  margin-bottom: 0;
}
.tree_sec_right h2 {
  font-size: 26px;
}
.header-introduction-small-tree .section-head h2 {
  margin: 38px 0 0;
}
.breadcrumb {
  margin-bottom: 0;
}

.video_img p {
  font-family: "robotolight";
  font-size: 14px;
  line-height: 20px;
  margin: 10px auto 30px;
  width: 490px;
}

.video_img > h4 {
  margin-top: 12px;
}

}
 @media (min-width: 768px) and (max-width:991px) {
.vertical-middle > *, .vertical-bottom > * { display: inline; }
.logo_site {
  float: left;
  padding: 0 0 0 12px;
  width: 27%;
}
nav ul li {
  padding: 5px 9px;
}
.logo_top img { max-width: 190px; }
#navicon { display: none; }
.mobile-navigation ul li { margin-top: 19px; }
.navbar-nav { display: inline; margin: 0px; }
.main-navigation .container-fluid { padding: 0; }
.navbar-collapse.collapse.in { padding: 0; }
.navbar-inverse .navbar-nav > li > a { color: #fff; font-size: 17px; }
.main_navigation_2::after { background: rgba(0, 0, 0, 0.8); content: ""; }
.nav > li { padding: 0; text-align: center; }
nav ul li:last-child { padding-right: 0; }
.navbar-collapse { padding-left: 0; padding-right: 0; }
.navbar-header { margin-bottom: 40px; }
.navbar-inverse { background-color: transparent; border-color: transparent; margin-bottom: 0px; }
.navbar-header { margin-bottom: 11px; }
.navbar-inverse .navbar-toggle { background: #000 none repeat scroll 0 0; border: medium none; margin-top: 30px; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #000; }
.navbar.navbar-inverse.navbar-static-top { display: none; }
.section.section-white {
  margin: -270px 11px 50px;
}

.text-center {
  clear: both;
}

.video_img {
  text-align: center;
}

nav ul {
  margin: 15px 0;
  display:inline;
}
nav {
  text-align: right;
}

.main_content {
  float: left;
  padding: 18px 0 0;
  width: 72%;
}

.breadcrumb {
  margin-bottom: 0;
}
.header-introduction-small-tree .section-head h2 {
  margin: 23px 0 0;
}

.video_img > h4 {
  margin-top: 12px;
}

}

 @media (min-width: 992px) and (max-width:1200px) {

.section.section-white {
  margin: -270px 12px 50px;
}
.site_home_icon li {
  width: 40%;
}
.virtually_content ul li p {
  width: 88%;
}
.tree_sec_right h2 {
  font-size: 27px;
}
.header-introduction-small-tree .section-head h2 {
  margin: 44px 0 0;
}

.video_img > h4 {
  font-size: 19px;
}

 }
 

@media (min-width: 1201px) and (max-width:1300px) {

.section.section-white {
  margin: -270px 22px 50px;
}

.header-introduction-small-tree .section-head h2 {
  margin: 30px 0 0;
}
.video_img > h4 {
  margin-top: 813px;
}

 }


